* {
	padding: 0;
	margin: 0;
}
body {
	font: .8em "Lucida Sans", "Trebuchet MS", Verdana, Arial, Sans-Serif;
	background-color : #e8ecef;
}
a {
	text-decoration: none;
	color: #4f4f97;
}
a:hover {
	color: #000;
}
ul {
	margin-left:10px;
}
img {
	border: 0px;
}

.slice{
	opacity: .8;
}
.slicetext > text{
	fill: #fff;
}
.chart-cont1{
	    border-bottom: 2px solid #55608a;
}
.fa-star-o, .fa-star{
	color:#4a517c;
}
.cnt-titles{
	font-size: 20px;color: #454a70;font-weight: bold;
}
.posts-container{
	margin-left: 30px;
	margin-top: 20px;
	color:black;
	font-size:13px;
}
.posts-desc-cont{
	margin-left: 40px;
}
.post-icons > span{
	margin-right:15px;
}
.post-icons > span > i{
	cursor:pointer;
}
.post-que{
		font-size: 16px;
		font-weight: bold;
}

.csr-ptr{
	cursor: pointer;
}
.panel-login {
	border-color: #454a70;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #454a70;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #454a70;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #8293b3;
	border-color: #454a70;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #454a70;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #8293b3;
	border-color: #454a70;
}

.trait-icon-holder{
	margin-bottom: 30px
	
}
.trait-icon-holder > p{
	font-size: 15px;
}	

.highlight-image{
	border: 2px solid green;
}
.quest-holder{
	font-size: 14px;
    background: #fff;
    padding: 10px;

}
.quest-holder > span.cls{
	    background: #4682B4;
    color: white;
    padding: 2px 12px;
    border: 1px solid #4682B4;
    border-radius: 10px;
    margin-top: -3px;
    float: right;
}

.quest-holder > span.status{
	    background: #008081;
    color: white;
    padding: 2px 12px;
    border: 1px solid #4682B4;
    border-radius: 10px;
    margin-top: -3px;
    float: right;
    margin-right: 2%;
}
.quest-holder > span.points{
    background: #8ee4af;
    color: white;
    padding: 2px 12px;
    border: 1px solid #8ee4af;
    border-radius: 10px;
    margin-top: -3px;
    float: right;
    margin-right: 2%;
}
.quest-holder > span.lock{
	color: #05386b;
    padding: 2px 12px;
    float: right;
    margin-right: 2%;
}


.clr1{
	background: #5cb85c !important;
	border-color: #5cb85c !important;
}
.clr6{
	background: #5bc0de !important;
	border-color: #5bc0de !important;
}
.clr10{
	background: #f0ad4e !important;
	border-color: #f0ad4e !important;
}
.ach > p{
	background: #d0d3f2;
    padding: 5px;
    border: 1px;
    border-radius: 10px;
    color: #222b8f;
    margin-bottom: 10px;
}
.m-c{
	    font-size: 13px;
    display: block;
    margin-left: 100px;
    margin-top: -70px;
}

/* Nav Bar Styles */

#sidebar {
    height: 100vh;
	background: linear-gradient(45deg,#084442,#16081e);
	width: 20%;
}

#sidebar .list-group-item {
    border-radius: 0;
    background: linear-gradient(45deg,#084442,#16081e);
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
    text-decoration: none;
}

/* highlight active menu */
#sidebar .list-group-item.active {
    color: #82fa27;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
        min-width: 39px;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}
/* Nav Bar Styles */

/* Style for forms*/
.form-style-parent{
	/* max-width: 700px; */
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

/* Navigator main bar to show hide nav*/
.fa-lg {
    font-size: 2.333333em !important;
    padding: 2px !important;
}

.nav-tabs{
    background: linear-gradient(45deg,#e8ecef,#cdcfd1);
}
/*Adding width to the main Nav Bar*/
.navBarMain{
	width: 20%;
}

.fontSize{
	font-size: 1rem;
}
.fa-custom{
	font: normal normal normal 1rem/1.5 FontAwesome;
    font-size: 1rem;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  .my-toggle label {
	  margin-bottom: 0px;
	  font-size: 14px;
  }
  .dataTables_wrapper {
	margin-top: 30px;
  }
  
  #chartContainer {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}