<div  ng-controller="ReportController" ng-init="initialize()">
    <div>
        <div class="pull-left" style="margin-right: 5%">
            <p class="fontSize">Entities</p>
            <div>
                <!-- <div ng-repeat="entity in allEntityDetails">
                    <span>{{entity.entityName}}</span>
                    <input type="checkbox" ng-value="entity.isSelected">
                </div> -->
                <select class="form-control" ng-model="query.entityName" ng-change="query.full = true; getRelatedColumns(); setSelEntityIndex(); query.cond.filters = [{}]">
                    <option value="" style="display:none">Select Entity</option>
                    <option ng-repeat="x in allEntityDetails" ng-value="x.entityName">{{x.entityName}}</option>
                </select>
            </div>
        </div>
      
        <div ng-show="query.entityName.length>0" style="margin-left:30%">
           <div class="my-toggle">
                <label>Filter</label>
                <label class="switch">
                        <input  type="checkbox" ng-model="query.full" ng-checked="{{query.full}}" ng-change="activeSel=0" id="ck">
                        <span class="slider round"></span>
                </label>
                <label>Full</label>
           </div>
            <br/>
            <div ng-show="!query.full">
                <div>
                    <br/>
                    <p>
                        Output columns
                    </p>
                    <div>
                        <select class="form-control" ng-model="query.cond.select"  multiple data-live-search="true">
                            <option value="" style="display:none">Select columns</option>
                            <option ng-repeat="x in selEntityCols" ng-value="x.name">{{x.name}}</option>
                        </select>
                    </div>
                </div>
                <p>
                    Filters
                </p>
                <table>
                    <thead>
                        <th></th>
                        <th>Column</th>
                        <th>Condition</th>
                        <th>Value</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="filter in query.cond.filters track by $index" ng-init="index = $index">
                            <td>
                                <select  class="form-control" ng-model="query.cond.filter[index].type" ng-show="$index != 0">
                                    <option value="AND">And</option>
                                    <option value="OR">Or</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="query.cond.filter[index].column" >
                                    <option value="" style="display:none">Select columns</option>
                                    <option ng-repeat="x in selEntityCols" ng-value="x.name">{{x.name}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="query.cond.filter[index].condition" >
                                    <option value=">">Greater than</option>
                                    <option value="=">Equals</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="Value" ng-model="query.cond.filter[index].value">
                            </td>
                            <td>
                                <i class="fa fa-plus fa-2x csr-ptr" ng-click="query.cond.filters.push({})" ng-show="$index == 0"></i>
                            </td>
                            <td>
                                <i class="fa fa-trash fa-2x csr-ptr" ng-click="query.cond.filters.splice(index, 1)" ></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div>
                <button class="btn btn-secondary fa fa-custom fa-list" ng-click="activeSel = 1; showData(); "> Show Data</button>
                <button class="btn btn-secondary fa fa-custom fa fa-th" ng-click="activeSel = 2; downloadCsv()"> Download CSV</button>
                <button class="btn btn-secondary fa fa-custom fa-bar-chart-o" ng-click="activeSel = 3;;"> Generate Charts</button>
            </div>
            <div>
                <div ng-show="activeSel == 1">
                    <div ng-include="'/app/project/report/data_table.template.html'"></div>
                </div>
                <div ng-show="activeSel == 2">
                    <p>Data will be downloaded shortly...</p>
                </div>
                <div ng-show="activeSel == 3">
                    <div>
                        <label>x-axis</label>
                        <select class="form-control" ng-model="query.cond.select.one" ng-change=generateCharts()>
                            <option value="" style="display:none">Select X-axis</option>
                            <option ng-repeat="x in allEntityDetails[query.selEntityIndex].attributes" ng-value="x.name">{{x.name}}</option>
                        </select>
                        <label>y-axis</label> 
                        <select class="form-control" ng-model="query.cond.select.two"  ng-change=generateCharts()>
                            <option value="" style="display:none">Select Y-axis</option>
                            <option ng-repeat="x in allEntityDetails[query.selEntityIndex].attributes" ng-value="x.name">{{x.name}}</option>
                        </select>
                    </div>
                    <div id="chartContainer"></div>
                </div>

            </div>
        </div>
        
        <!-- <div style="margin-left: 20%;">
            <table>
                <thead>
                    <th></th>
                    <th>Column</th>
                    <th>Condition</th>
                    <th>Value</th>
                    <th></th>
                </thead>
            </table>
            <tbody>
                <tr ng-repeat="c in options">
                    <td>
                        <select ng-model="c.type" >
                            <option value="AND">And</option>
                            <option value="OR">Or</option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="c.column" >
                            <option ng-repeat="col in selectedColumns">{{col.name}}</option>
                            
                        </select>
                    </td>
                    <td>
                        <input type="text" ng-model="c.value">
                    </td>
                    <td><i class="fa fa-plus" ng-click="options.push({})"></i></td>
                </tr>
            </tbody>
            
        </div> -->
    </div>
</div>