<div  ng-controller="ReportController" ng-init="initialize()">
    <p><h4>Saved Queries</h4></p>
    <div>
        <p ng-repeat="query in savedQueries" ng-class="curQuery == query.id ? 'highlight':''">
            {{query.name}} <button class="btn-secondary btn-xs btn" ng-click="executeQuery(query.query); curQuery = query.id" class="csr-ptr">Execute</button>
        </p>
    </div>
</div>